<h1>投稿の編集</h1>

<%= form_for @driving do |f| %>
  <p><%= f.label :spot %>
  <%= f.text_field :destination, :size => 50 %></p> 
  <div class='form-group'>
  <p>ジャンル</p>
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
            <div class='form-check'>
                <%= genre.label class: 'form-check-label' do %>
                    <%= genre.check_box class: 'form-check-input' %>
                    <%= genre.text %>
                <% end %>
            </div>
        <% end %>
  </div>
  <p><%= f.label :image %>
  <%= f.file_field :image %></p>
  <p><%= f.label :body %>
  <%= f.text_area :body, :size =>"70x10" %></p>
  <p><%= f.label :address %>
  （正確にお願いします！）
  <%= f.text_field :address, :size => 100 %></p>
  <%= f.submit "編集する" %>
<% end %>
<%= link_to "戻る", new_driving_path %>

