<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>

<h2>検索ページ</h2>
<%= form_tag({controller:"drivings",action:"index"}, method: :get) do %>
   <b>スポット名</b>
   <%= text_field_tag :destination_search %>
   <%= submit_tag '検索する'  %>

   <p>
   <b>ジャンル</b>
   <% @genres.each do |t| %>
        <li><%= check_box :genre_ids, t.name %><%= t.name %></li>
   <% end %>
   </p>

   <p>
   <b>所在地（キーワード）</b>
   <%= text_field_tag :address_search %>
   </p>

   <%= submit_tag '検索する'  %>
<% end %>

<h2>スポット一覧</h2>
<div class="drivings-container">
  <% @drivings.each do |d| %>
  <div class="driving">
    <p><%= image_tag d.image_url, size: "150x100" if d.image? %>
    <%= d.destination %></p>
    <p><%= d.body %></p>
    <p>所在地：<%= d.address %></p>
    <i class="far fa-heart"></i><%= d.likes.count %>
    <%= link_to "詳細へ", driving_path(d.id) %>
  </div>
  <% end %>
  <% @rank_drivings.each do |d| %>
  <% end %>
</div>

<% end %>

<script>
function geoFindMe() {

  const status = document.querySelector('#status');
  const mapLink = document.querySelector('#map-link');

  mapLink.href = '';
  mapLink.textContent = '';

  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    status.textContent = '';
    mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
    mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
  }

  function error() {
    status.textContent = 'Unable to retrieve your location';
  }

  if(!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }

}

document.querySelector('#find-me').addEventListener('click', geoFindMe);

</script>
