<%= link_to "マイページへ", user_path(current_user.id) %>
<h3>スポット詳細</h3>
<div class="driving">
  <% @driving.genres.each do |genre| %>
    <span><%= genre.name %></span>
  <% end %>

  <p><%= @driving.destination %></p>
  <p><%= image_tag @driving.image_url, size: "300x200" if @driving.image? %></p>
  <p><%= @driving.body %></p>
  <p>所在地：<%= @driving.address %></p>
  <p><%= @driving.created_at %></p>

<% if user_signed_in? %>
      <% if current_user.already_liked?(@driving) %>
          <%= link_to driving_like_path(@driving), method: :delete do %>
             <i class="fas fa-heart"></i><%= @driving.likes.count %>
          <% end %>
      <% else %>
          <%= link_to driving_likes_path(@driving), method: :post do %>
             <i class="far fa-heart"></i><%= @driving.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <i class="far fa-heart"></i><%= @driving.likes.count %>
  <% end %>
</div>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>:
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@driving, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<%= link_to "スポット一覧に戻る", drivings_path %>


<div id="routelink">    
    <a id="link" href="#" target="_blank">経路</a>
</div>
<p id = "status"></p>

<script>
  const status = document.querySelector('#status');
  
  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    status.textContent = '';
   
    let link = document.getElementById('link');
    let url = `https://www.google.com/maps/dir/${latitude},${longitude}/<%= @driving.address %>`;

    console.log(latitude)
    console.log(longitude)
    link.setAttribute('href', url);
  }

  function error() {
    status.textContent = 'Unable to retrieve your location';
  }

  if(!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }
</script>

<iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @driving.address %>&z=13" width="600" height="400" frameborder="0" scrolling="no" ></iframe>

<a href= "https://maps.googleapis.com/maps/api/directions/json?origin=Toronto&destination=Montreal&key=api" target="_blank" >別ウインドウで開くリンク</a>

<script>
require 'net/http'
require 'uri'
require 'json'

uri = URI.parse(`https://maps.googleapis.com/maps/api/directions/json?origin=${latitude},${longitude}&destination=<%= @driving.address %>&key=api`)
json = Net::HTTP.get(uri)
purse = JSON.parse(json)
result = console.log(json.routes.legs.duration.text)
</script>
