<%= link_to "マイページへ", user_path(current_user.id) %>
<h3>スポット詳細</h3>
<div class="driving">
  <% @driving.genres.each do |genre| %>
    <span><%= genre.name %></span>
  <% end %>

  <p><%= @driving.destination %></p>
  <p><%= image_tag @driving.image_url, size: "300x200" if @driving.image? %></p>
  <p><%= @driving.body %></p>
  <p>所在地：<%= @driving.address %></p>
  <p><%= @driving.created_at %></p>

 #マップの表示
  <%id = mapstyle> height: 500px; width: 500px %>
  #APIを読み込み
<% google_api = "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_MAP_API'] }&callback=initMap".html_safe
script{ async src = google_api } %>

javascript:

  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    // マップを作成
    map = new google.maps.Map(document.getElementById('map'), {
      // マップの中心に表示する場所の緯度経度を指定
      center: { lat: 40.7828, lng:-73.9653 },
      zoom: 12,
    });

    // マーカーを立てる場所の緯度経度を指定
    marker = new google.maps.Marker({
      position: { lat: 40.7828, lng:-73.9653 },
      map: map
    });
  }


<% if user_signed_in? %>
      <% if current_user.already_liked?(@driving) %>
          <%= link_to driving_like_path(@driving), method: :delete do %>
             <i class="fas fa-heart"></i><%= @driving.likes.count %>
          <% end %>
      <% else %>
          <%= link_to driving_likes_path(@driving), method: :post do %>
             <i class="far fa-heart"></i><%= @driving.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <i class="far fa-heart"></i><%= @driving.likes.count %>
  <% end %>
</div>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>:
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@driving, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<%= link_to "スポット一覧に戻る", drivings_path %>
